/* Reset default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
  color: #ffffff;
}

/* Navbar styles */
header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

/* .logo {
  /* Add styles for your logo here */
/* } */

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00ffff;
}

/* Typography styles */
h1,
h2,
h3 {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: #ff00ff;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Typography */
h1 {
  font-size: 40px;
  color: #ff00ff;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Header */
.hero {
  text-align: center;
  padding: 80px 0;
}

/* Project Cards */
.projects {
  padding: 40px 0;
}

.project-carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  overflow: hidden;
}

/* Custom styles for the Slick Carousel */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
}

/* Additional styling for the project card */
.project-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  color: #ffffff;
  /* Your custom styles for project cards */
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card h3 {
  font-size: 24px;
  color: #00ffff;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 16px;
  color: #ffffff;
}

.project-card a {
  display: inline-block;
  background-color: #00ffff;
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.project-card a:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 14px;
}
